section.article.section_padding
  .container
    .blog_wrap
      h2.section_title.taL ブログ
      .article__wrap
        article.blog
          a.blog__link(href="#")
            .blog__thumb
              span.blog__category カテゴリー
              img.blog__img(src=imgPath + "blog01.jpg", alt="ブログ記事1")
            .blog__text
              h3.blog__title Engressの説明会in大阪の模様をお伝えします
              span.date 2020-12-27
        article.blog
          a.blog__link(href="#")
            .blog__thumb
              span.blog__category カテゴリー
              img.blog__img(src=imgPath + "blog02.jpg", alt="ブログ記事2")
            .blog__text
              h3.blog__title Engressもくもく会でみんなで　TOEFL学習をしませんか？
              span.date 2020-12-01
        article.blog
          a.blog__link(href="#")
            .blog__thumb
              span.blog__category カテゴリー
              img.blog__img(src=imgPath + "blog03.jpg", alt="ブログ記事3")
            .blog__text
              h3.blog__title TOEFL学習にはコーチング学習が最強である話
              span.date 2020-11–20
    .info_wrap
      h2.section_title.taL お知らせ
      .article__wrap
        article.info
          span.date 2020-12-01
          h3.info__title 
            a.info__link(href="#") 2021年のスケジュールについて
        article.info
          span.date 2019-11-02
          h3.info__title
            a.info__link(href="#") 11月休校日のお知らせ
        article.info
          span.date 2020-10-01
          h3.info__title
            a.info__link(href="#") 10月s休校日のお知らせ
