section.case.section_padding.bg_base
  .container 
    h2.section_title TOEFL成功事例
    .case__box 
      .case__item 
        p.case__title TOEFL iBT 100点を突破してコロンビア大学大学院に進学できました！
        +webpImg("case__img", "case01", "jpg", "T.Fujiyamaさん")
        .case__status 
          .case__work 会社員
          .case__name T.Fujiyamaさん
          .case__comment 3ヶ月でTOEFL80→108点
      .case__item 
        p.case__title 半年でTOEFL 40点→100点を達成！コロンビア大学大学院に合格
        +webpImg("case__img", "case02", "jpg", "T.Fujiyamaさん")
        .case__status 
          .case__work 大学生
          .case__name Y.Takiyamaさん
          .case__comment 6ヶ月でTOEFL40→100点
      .case__item 
        p.case__title 早稲田大学 国際教養学部AO入試合格！TOEFL iBT 109点
        +webpImg("case__img", "case03", "jpg", "T.Fujiyamaさん")
        .case__status 
          .case__work 高校生
          .case__name M.Yamadaさん
          .case__comment 5ヶ月でTOEFL68→109点
