section.flow.section_padding
  .container
    h2.section_title ご利用の流れ
    .flow__wrap
      .flow__item
        .flow__cont
          span.flow__tag 01
          p.flow__title お問い合わせ
        p.flow__text まずはフォームまたはお電話からお申し込みください。
      .flow__item
        .flow__cont
          span.flow__tag 02
          p.flow__title ヒアリング
        p.flow__text 現在の学習状況やTOEFLスコア、目標のスコアをお聞きします。
      .flow__item
        .flow__cont
          span.flow__tag 03
          p.flow__title 学習プランのご提供
        p.flow__text 目標達成のために最適な学習プランをご提案致します。
      .flow__item
        .flow__cont
          span.flow__tag 04
          p.flow__title ご入会
        p.flow__text お申込み完了後、レッスンがスタートします。