section.problem.section_padding.bg_base 
  .container 
    h2.section_title TOEFULでこんな悩みありませんか？
    .problem__list 
      .problem__item 
        p.problem__text 勉強の習慣が<br class="pc">身についていない
      .problem__item 
        p.problem__text 勉強しているはず<br class="pc">なのに点数が伸びない
      .problem__item 
        p.problem__text 正しい勉強方法が<br class="pc">わからない
    .problem-box 
      p.section_title Engressは<br><span class="line">TOEFLに特化したスクール</span>です
      p.problem-box__text 完全オーダーメイドで、１人１人の悩みに合わせた最適な指導で<br>TOEFLの苦手分野を克服します。