section.question 
  .container
    h2.section_title よくある質問
    .qa-wrap 
      dl.qa
        dt.qa__question Engressはサラリーマンでも学習を続けられるでしょうか？
        dd.qa__answer.bg_grey Engressは各個人に最適な学習プランをご提供しております。サラリーマンの方でも継続できます。
        dt.qa__question 教材はオリジナルのものを使用しているのでしょうか？
        dd.qa__answer.bg_grey 教材は全てEngree独自に作成されたものを使用します。
        dt.qa__question 講師に日本人はいますか？
        dd.qa__answer.bg_grey 日本人の講師もおります。初めての方も安心してレッスンを受けることができます。
        dt.qa__question TOEFL以外の海外大学合格のサポートもしてもらえるのでしょうか？
        dd.qa__answer.bg_grey EngressはTEFULに特化したサービスのため、海外大学合格のサポートは行なっておりません。