section.strength.section_padding
  .container 
    h2.section_title TOEFL対策に特化した<br class="sp">Engress3つの強み
    .strength__wrap 
      .strength__item
        .strength__cont  
          span.tag 特徴&nbsp;1
          h3.strength__title TOEFLに最適化された<br>無駄のないカリキュラム
          p.strength__text TOEFLではビジネス英語には登場しない数多くの学術的内容が出題されます。そのため、ベースとなる知識も必要になります。Engressでは過去1000題を分析し、最適なカリキュラムを組んでいます。
        +webpImg("strength__img", "feature01", "jpg", "TOEFLに最適化された無駄のないカリキュラム")
      .strength__item.flex_reverse
        .strength__cont  
          span.tag 特徴&nbsp;2
          h3.strength__title 日本人指導歴10年以上の<br>経験豊富な講師陣
          p.strength__text Engressの講師陣は、もともと日本人向けにTOEFLを教えていた人が大多数です。また全メンバーがTESOL(英語教授法)を取得しており、知識と経験を兼ね備えている教育のプロフェッショナルです。
        +webpImg("strength__img", "feature02", "jpg", "日本人指導歴10年以上の経験豊富な講師陣")
      .strength__item
        .strength__cont  
          span.tag 特徴&nbsp;3
          h3.strength__title 平均3ヶ月でTOEFL iBT20点アップ
          p.strength__text Engressは高校生からサラリーマンまで様々な年齢層の方々が通われていますが、完全オーダーメイドのカリキュラムで柔軟に対応しているため、平均3ヶ月でTOEFLスコアを20点アップさせています。
        +webpImg("strength__img", "feature03", "jpg", "平均3ヶ月でTOEFL iBT20点アップ")