article.single.section_padding
  .container
    .single-title-wrap
      h1 お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
      .date 202-10-01
    section.single__cont
      h1 見出し１
      p 本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      section
        h2 見出し２
        p 本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        blockquote 引用文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .img
          img(src=imgPath + "img-single.png", alt="個別記事画像")

        ul
          li リストリストリストリストリスト
          li リストリストリストリストリストリストリストリストリスト
          li リストリストリストリストリストリストリストリストリストリストリストリストリストリスト
        a(href="#").mt30 テキストリンクテキストリンク