@use 'base/function';
@use 'base/mixin';

// 文字色設定
$accent-color: #F5A623;
$base-color: #1B224C;
$main-color: #D5D5D5;

.pc {
  @include mixin.mq(md,max) {
    display: none!important;
  }
}
.sp {
  display: none!important;
  @include mixin.mq(md,max) {
    display: block!important;
  }
}

// 余白設定
.mt0 {
  margin-top: 0!important;
}
.mt20 {
  margin-top: 20px;
}

// 共通設定
a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: .7;
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}

// フォントサイズ設定
body {
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-size: function.fz(16);
  color: $base-color;
}

// コンテナー・余白設定
.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 900px;
  margin: 0 auto;
}
.section_padding {
  padding-top: 60px;
  padding-bottom: 55px;
  @include mixin.mq(md,max) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

// タイトル設定
.title {
  font-size: function.fz(48);
  color: #fff;
  @include mixin.mq(md,max) {
    font-size: function.vw(600,38);
  }
  @include mixin.mq(sm,max) {
    font-size: function.fz(32);
  }
}
// 各セクションのヘッダー
.section-header {
  background: url(../img/bg-plan.jpg) no-repeat center / cover;
  height: 221px;
  display: grid;
  place-items: center;
  margin-top: 65px;
}
.section_title {
  font-size: function.fz(36);
  font-weight: bold;
  color: $base-color;
  text-align: center;
  @include mixin.mq(md,max) {
    font-size: function.vw(600,30);
    line-height: 1.38;
  }
  @include mixin.mq(sm,max) {
    font-size: function.fz(22);
  }
  &.color--white {
    color: #fff;
  }
}
.section_text {
  line-height: 1.68;
}
// ボタンデザイン
.btn {
  display: block;
  font-size: function.fz(16);
  padding: 22px;
  padding: function.em(22);
  color: #fff;
  max-width: 260px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  &.btn--round {
    border-radius: 31px;
  }
  &.btn--yellow {
    background-color: $accent-color;
  }
  &.btn--blue {
    background-color: $base-color;
  }
  &.btn--border {
    border: 1px solid #fff;
    border-radius: 30px;
  }
}
.text_link {
  text-decoration: underline;
  color: #fff;
}

// 背景
.bg_base {
  background-color: $base-color;
}
.bg_grey {
  background-color: #f8f8f8;
}

// テキスト寄せ
.taC {
  text-align: center;
}
.taL {
  text-align: left;
}

// パンくず
.bread-crumb {
  background-color: #f8f8f8;
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
  }
  &__item + .bread-crumb__item::before {
    content: '>';
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
  }
  &__link {
    font-size: function.fz(12);
    &.link {
      text-decoration: underline;
    }
  }
}

// ページャー
.pager {
  margin-top: 106px;
  margin-bottom: 45px;
  @include mixin.mq(md,max) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  ul {
    display: flex;
    justify-content: center;
    li + li {
      margin-left: 19px;
    }
    a {
      padding: 17px 20px;
      color: $base-color;
      border: 1px solid $base-color;
      display: block;
      &.active {
        background-color: $base-color;
        color: #fff;
      }
    }
  }
}