section.footer-cta.section_padding
  .container 
    h2.section_title まずは無料で資料請求から
    .btn_wrap 
      a.btn.btn--yellow.btn--round(href="#") 資料請求 
      a.text_link(href="#") お問い合わせ 
section.phone
  .container
    p.phone__text お電話でのお問い合わせはこちら
    p.phone__number 0123-456-7890
    p.phone__hours 平日 08:00〜20:00 
footer#footer.footer
  .container
    .footer-wrap
      nav
        ul.footer-nav
          li.footer-nav__item
            a.footer-nav__link(href="#") ホーム
          li.footer-nav__item
            a.footer-nav__link(href="#") お知らせ
          li.footer-nav__item
            a.footer-nav__link(href="#") ブログ
          li.footer-nav__item
            a.footer-nav__link(href="#") コース・料金
      .footer-cont
        .footer-logo
          img(src="../img/img-footer-logo.jpg", alt="フッターロゴ")
        p.footer-cont__phone 0123-456-789
        p.footer-cont__hour 平日08:00〜20:00
.footer-copy
  p.container &copy; 2020 Engress. 