header.header
  .logo
    a.logo__link(href="/") 
      img.logo__img(src=imgPath + "logo.png", alt="ロゴ")
  nav.main-nav
    ul.nav
      li.nav__item
        a.nav__link(href="/") ホーム
      li.nav__item
        a.nav__link(href="/info") お知らせ
      li.nav__item
        a.nav__link(href="/blog") ブログ
      li.nav__item
        a.nav__link(href="/plan") コース・料金
    .btn_wrap.sp
      a.btn.btn--yellow(href="#") 資料請求
      a.btn.btn--blue(href="#") お問い合わせ
  .header__right.pc
    .header__cont
      span.hour 平日08:00〜20:00
      p.phone_number 0123-456-789
    .btn_wrap
      a.btn.btn--yellow(href="#") 資料請求
      a.btn.btn--blue(href="#") お問い合わせ
  .hamburger.sp
    span
    span
    span
