section.plan.section_padding
  .container
    h2.section_title 料金体系
    .chart 
      .chart__box 
        span 入会金&nbsp;39,800円
      span.icon-plus +
      .chart__box
        span 月額費用
    p.section_text Engressのカリキュラムは完全オーダーメイドのため、カリキュラム内のサポート内容によって料金が変動します。おすすめのスタンダードプランでは、進学先に合わせたサポートまで包括的に行います。
section.price.section_padding
  .container
    h2.section_title 料金表
    .price__boxes.js-scrollable
      .price-box
        p.price-box__title 基礎プラン
        .price-box__inner
          .price-box__price <span class="price">59,000円~</span><br>*月額（税抜価格）
          ul.price-box__list
            li.price-box__item カリキュラム作成
            li.price-box__item TOEFL学習サポート
            li.price-box__item 週一回のビデオMTG
      .price-box
        p.price-box__title 演習プラン
        .price-box__inner
          .price-box__price <span class="price">75,000円~</span><br>*月額（税抜価格）
          ul.price-box__list
            li.price-box__item カリキュラム作成
            li.price-box__item TOEFL学習サポート
            li.price-box__item 週一回のビデオMTG
            li.price-box__item 月二回の模試（解説付き）
      .price-box
        p.price-box__title.recommend <span class="recommend-text">おすすめ</span><br>志望校対策プラン
        .price-box__inner
          .price-box__price <span class="price">95,000円~</span><br>*月額（税抜価格）
          ul.price-box__list
            li.price-box__item カリキュラム作成
            li.price-box__item TOEFL学習サポート
            li.price-box__item 週一回のビデオMTG
            li.price-box__item 月二回の模試（解説付き）
            li.price-box__item 週一の英語面接対策
      .price-box
        p.price-box__title フレックスプラン
        .price-box__inner
          .price-box__price <span class="price">60,000円~</span><br>*月額（税抜価格）
          ul.price-box__list
            li.price-box__item.no_check ＊別途ご相談ください