link(rel="stylesheet", href=cssPath + "style.css")
if location == 'about'
  link(rel="stylesheet", href=cssPath + "page/about/style.css")
if location == 'plan'
  link(rel="stylesheet", href=cssPath + "scroll-hint.css")