extend ../layouts/_default
append value
  - const title = "お問い合わせ | Engress";
  - const description = "アバウトのディスクリプション";
  - const keywords = "キーワード,キーワード2,キーワード3";
  - const path = "..";
  - const location = "contact";
  - const section_title = "お問い合わせ"

block header
  include ../components/layout/_header
  include ../components/layout/_section_header
  include ../components/layout/_bread_crumb

block main
  include ../components/project/contact/_contact

block footer
  include ../components/layout/_footer
  
block js 
  include ../components/layout/_js