section.info-list.section_padding
  .container
    h2.section_title お知らせ一覧
    .info-wrap
      .info-wrap__item
        .info-wrap__date 2020-12-30
        .info-wrap__title 
          a.info-wrap__link(href="#") お知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトル
      .info-wrap__item
        .info-wrap__date 2020-12-30
        .info-wrap__title 
          a.info-wrap__link(href="#") お知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトル
      .info-wrap__item
        .info-wrap__date 2020-12-30
        .info-wrap__title 
          a.info-wrap__link(href="#") お知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトル
      .info-wrap__item
        .info-wrap__date 2020-12-30
        .info-wrap__title 
          a.info-wrap__link(href="#") お知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトル
      .info-wrap__item
        .info-wrap__date 2020-12-30
        .info-wrap__title 
          a.info-wrap__link(href="#") お知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトル
      .info-wrap__item
        .info-wrap__date 2020-12-30
        .info-wrap__title 
          a.info-wrap__link(href="#") お知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトル
      .info-wrap__item
        .info-wrap__date 2020-12-30
        .info-wrap__title 
          a.info-wrap__link(href="#") お知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトル
      .info-wrap__item
        .info-wrap__date 2020-12-30
        .info-wrap__title 
          a.info-wrap__link(href="#") お知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトル
      .info-wrap__item
        .info-wrap__date 2020-12-30
        .info-wrap__title 
          a.info-wrap__link(href="#") お知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトル
      .info-wrap__item
        .info-wrap__date 2020-12-30
        .info-wrap__title 
          a.info-wrap__link(href="#") お知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトルお知らせのタイトル